*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 512;
  font-style: normal;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.sideBar{
    width: 340px;
    border-radius: 1rm;
    -webkit-border-radius: 1rm;
    -moz-border-radius: 1rm;
    -ms-border-radius: 1rm;
    -o-border-radius: 1rm;
}

.mainContent{
    flex: 1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.player{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 72px;
}